body {
  font-size: 13px;
  line-height: 1.5;
}
div[role="main"] {
  padding-top: 80px;
}
.navbar-form {
  padding-right: 0;
}
.login-form {
  margin: 40px auto 0;
  width: 60%;
}
@media screen and (max-width: 960px) {
  .login-form {
    width: 70%;
  }
}
@media screen and (max-width: 768px) {
  .login-form {
    width: 85%;
  }
}
@media screen and (max-width: 480px) {
  .login-form {
    width: 100%;
  }
}
